---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;
const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_darkmode?: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand block">
  {
    src || srcDarkmode || logo || logo_darkmode ? (
      <ImageMod
        src={logo}
        class="h-auto w-[140px] md:w-[160px]"
        width={Number(logo_width.replace("px", "")) * 2}
        height={Number(logo_height.replace("px", "")) * 2}
        alt={title}
        format="webp"
      />
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
